{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Login</h1>
        <form action="{{ url_for('login') }}" method="post">
            <div>
                <label for="username">Usuário:</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div>
                <label for="password">Senha:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div>
                <label for="remember">
                    <input type="checkbox" id="remember" name="remember">
                    Lembrar de mim
                </label>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <p>Não tem uma conta? <a href="{{ url_for('cadastro') }}">Cadastre-se</a>.</p>
    </div>
{% endblock %}